{{!-- render comments to content card --}}

<div class="comment-card">
    <div class="item-flex">
    <p class="input">{{{input}}}</p>
    <p class="signature">-- {{{user.username}}} {{{format_date date_created}}}</p>
    </div>
</div>