<div class="col-md-12 project-list">
    <div class="row mb-2">
        <div class="col-md-12">
            <p>{{{input}}}</p>
            <p>comment by {{{user.username}}} on {{{date_created}}}</p>
        </div>
    </div>
</div>