
<form class="form signup-form">
<h2>Sign Up</h2>

<!-- 🦄 can I conditionally render an alert for invalid login? 🦄 -->
    {{!-- {{#if invalid_login }}
    <p>Incorrect email or password, please try again</p>
    {{/if}} --}}
    
    <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary login-btn" type="submit">sign up</button>
    </div>
    <div class="form-link">
        <p>Already have an account? <a href="/login">Log in here.</a></p>
    </div>
</form>


<script src="/js/signup.js"></script>
