{{!-- update post --}}
<form class="form update-form">
  <div class="form-group">
    <label for="update-input">Update:</label>
    <textarea class="update-title" name="{{user_id}}">{{{title}}}</textarea>
    <textarea class="update-body">{{{body}}}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">update</button>
  </div>
</form>

{{!-- delete post --}}
<form class="form delete-entry">
  <div class="form-group">
    <button type="delete" class="btn btn-primary">delete post</button>
  </div>

</form>

<script src="/js/update.js"></script>