<div class="col-md-10">
    <h3>My Dashboard</h3>
{{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
    {{else}}
    <p>click below to write your first article!</p>
{{/if}}
</div>

<a href="/api/dashboard/write/{{user_id}}">write something new</a>