<div class="col-md-10 articles">
{{#if blogs.length}}
    <h3>My Entries</h3>
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
    {{else}}
    <p>click below to write your first article!</p>
{{/if}}
</div>

<a href="/api/dashboard/write/{{user_id}}">write something new</a>