<section class="my-dashboard">
    <h3 class="dashboard-header">My Dashboard</h3>

    {{#if update}}
    {{!-- render update-form when update:true --}}
    <div class="col-md-12 update">
        <div class="row mt-4">
            {{#with content}}
            {{> update}}
            {{/with}}
        </div>
    </div>

    {{else}}
    {{#if write}}
    <div class="col-md-12 content">
        <div class="row mt-4">
            {{!-- <div class="col-md-12"> --}}

                {{> content-form}}

            {{!-- </div> --}}
        </div>
    </div>
    {{/if}}
    {{!-- otherwise render titles of all content by user --}}
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
<a href="/api/dashboard/write">+</a>
    {{/if}}
    {{/if}}
</section>
