<section class="my-dashboard">
    <h3 class="dashboard-header">My Dashboard</h3>

    {{#if update}}
    {{!-- render update-form when update:true --}}
    <div class="col-md-12 update">
        <div class="row mt-4">
            {{#with content}}
            {{> update}}
            {{/with}}
        </div>
    </div>

    {{else}}
    {{!-- render form to write new post --}}
    {{#if write}}
    <div class="col-md-12 content">
        <div class="row mt-4">
                {{> content-form}}
        </div>
    </div>

    {{/if}}
    {{!-- otherwise render titles of all content by user --}}
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
    
    <a href="/api/dashboard/write">
    <div class="write">
    write something new
    </div>
    </a>
    {{/if}}


    {{/if}}
</section>