<section class="home">
    {{!-- if several blog entries, render each as a card using content partials --}}
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
    <p class="dashboard-link">Go to <a href="/api/dashboard">dashboard</a> to add, edit, or delete a post.</p>

    {{else}}
    {{!-- render single blog entry with comments --}}
    <div class="col-md-10 comment">
        <div class="row mt-4">
            <div class="col-md-12">

                {{!-- render blog content --}}
                {{#with blog}}
                {{> content}}
                {{/with}}

                {{!-- render comment form if indicated by write: true --}}
                {{#if write}}
                {{> comment-form}}
                {{/if}}

                <a href="/api/comment/write/{{blog.id}}">Add a comment</a>

            </div>
        </div>
    </div>
    {{/if}}


</section>