<section class="home">
    {{!-- if several blog entries, render each as a card using content partials --}}
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> content}}
    {{/each}}
    

    {{else}}
    {{!-- render single blog entry with comments --}}

        {{!-- render blog content --}}
        {{#with blog}}
        {{> content}}
        {{/with}}

        {{!-- render comment form if indicated by write: true --}}
        {{#if write}}
        {{> comment-form}}
        {{else}}
            
        
        {{/if}}
        {{!-- render "add a comment" link if not on comment form page --}}
        <a href="/api/comment/write/{{blog.id}}">
        <div class="write">add a comment
        </div>
        </a>
    {{/if}}
    
    <a href="/api/dashboard">
    <div class="write">Go to dashboardto add, edit, or delete a post.</div>
    </a> 

</section>