<div class="login-card">
  <div class="row">
    <div class="col-sm-12">

      {{#if signup }}
      {{> 'signup'}}
      {{else}}
      {{> 'login'}}
      {{/if}}

    </div>
  </div>
</div>
