<div class="col-md-10 update">
    <div class="row mt-4">
        <div class="col-md-12">

{{!-- render update form with content data --}}
            {{#with content}}
            {{> update-form}}
            {{/with}}


        </div>
    </div>
</div>