<div class="col-md-10 articles">
    {{!-- <h3>Add comment:</h3> --}}
    {{#with blog}}
    {{> content}}
    {{/with}}
    {{#if comments.length}}
    {{#each comments as |comment|}}
    {{> comments}}
    {{/each}}
    {{else}}
    <p>Be the first to add a comment!</p>
    {{/if}}

</div>

{{#if write}}
<form class="form blog-form">
{{> comment-form}}
</form>
{{else}}
<a href="/api/comment/write/{{blog.id}}">Click here to add a comment</a>
{{/if}}

