<div class="row mt-4">
  <div class="col-md-12">
    <h3>new blog post:</h3>

    <form class="form blog-form">
      <div class="form-group">
        <label for="blog-title">title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">write your article here:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">publish</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/publish.js"></script>