:root {
  --light: #e7e2e0;
  --dark: #182c23;
  --primary: #31424f;
  --tertiary: #6054fe;
  --secondary: #bf9cec;
  --quatrinary: #ceccf9;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  box-sizing: border-box;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 1.5rem;
  text-align: center;
  background: var(--primary);
  color: var(--quatrinary);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  /* background-color: var(--dark); */
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

/* CARDS */
.login-card {
  margin: 4rem;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card h2 {
  padding-top: 2rem;
  text-align: center;
}

form {
  padding: 1rem 2rem 2rem;
}

.login-card a:hover {
  color:#31424f;
  text-decoration: underline;
}

.login-btn {
  margin: 0.5rem 0;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.content-card {
  width: 90vw;
  padding: 0;
  margin: 1rem;
  border: solid 5px var(--tertiary);
  border-radius: 10px;
}

.content-card h3 {
  padding: 1rem;
  background-color: var(--tertiary);
}

.content-body {
  padding: 1rem;
  background-color: var(--light);
}

.dashboard-header {
  padding: 1rem;
  text-align: center;
}
