:root {
  --light: #e6cdf2;
  --dark: #36314f;
  --mid: #4c4378;
  --header: #9b5dec;
  --background: #c0beea;
  --highlight: #9747ff;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--background);
  box-sizing: border-box;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 2rem;
  text-align: center;
  background: var(--header);
  color: var(--dark);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
}

nav a {
  font-size: 1.25rem;;
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

nav a:hover {
  color: var(--mid);
  background-color: var(--highlight);
  box-shadow: 0 0 10px var(--highlight);
}

/* CARDS */
.login-card {
  width: 50vw;
  margin: 4rem;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card h2 {
  padding-top: 2rem;
  text-align: center;
}

.login-card form {
  width: 100%;
}

form {
  padding: 1rem 2rem;
}

.login-card a:hover {
  color:var(--mid);
  text-decoration: underline;
}

.login-btn {
  margin: 0.5rem 0;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.content-card {
  width: 90vw;
  padding: 0;
  border: solid 5px var(--dark);
  margin: 2rem auto;
  border-radius: 10px;
}

.content-card:hover {
  box-shadow: 0 0 10px 5px var(--header);
}

.content-card a {
  text-decoration: none;
}

.content-header {
  padding: 1rem;
  color: var(--light);
  background-color: var(--dark);
}

.content-body {
  padding: 1rem;
  background-color: var(--light);
}

.dashboard-header {
  padding: 1rem;
  text-align: center;
}

.comments-section {
  width: 90vw;
  padding: 1.5rem;
  border: solid 3px var(--mid);
  margin: auto;
  border-radius: 10px;
  align-items: center;
  color: var(--light);
  background-color: var(--mid);
}

.comments-header {
  margin-bottom: 2rem;
}

.comment-card {
  width: 100%;
  color: var(--mid);
  background-color: var(--light);
  padding: 1rem;
  margin: auto;
  border-radius: 10px;
}

.item-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-card p {
  display: inline;
  justify-content: space-between;
}

.comment-form {
  margin: 1rem;
}

.comment-form textarea {
  height: 6rem;
}

.write {
  width: 80vw;
  text-align: center;
  font-size: 1.5em;
  padding: .5rem;
  margin: 2rem 5rem;
  border-radius: 10px;
  color: var(--light);
  background-color: var(--mid);
}

.write:hover {
  box-shadow: 0 0 10px var(--highlight);
}

